<!-- Gallery -->
<div class="row" style="margin: 8px">
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a data-fancybox="gallery" href="/static/images/resources/3.jpg">
      <img
        src="/static/images/resources/3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
    /></a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a data-fancybox="gallery" href="/static/images/resources/1.jpg">
      <img
        src="/static/images/resources/1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
    /></a>

    <a data-fancybox="gallery" href="/static/images/resources/1.jpg">
      <img
        src="/static/images/resources/1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
    /></a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a data-fancybox="gallery" href="/static/images/resources/2.jpg">
      <img
        src="/static/images/resources/2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
    /></a>

    <a data-fancybox="gallery" href="/static/images/resources/2.jpg">
      <img
        src="/static/images/resources/2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
    /></a>
  </div>
</div>
<!-- Gallery -->
